services:

  wb-nextcloud-example-com:
    image: docker.io/nfrastack/nextcloud-whiteboard
    container_name: wb-nextcloud-example-com
    labels:
      - traefik.enable=true
      - traefik.http.routers.wb-nextcloud-example-com.rule=Host(`wb.your.domain`)
      - traefik.http.services.wb-nextcloud-example-com.loadbalancer.server.port=3002
    volumes:
      - ./backup:/backup
    environment:
      - TIMEZONE=America/Vancouver

      - NEXTCLOUD_URL=https://nextcloud.your.domain

      - JWT_SECRET_KEY=${WHITEBOARD_JWT_SECRET_KEY_T}

      # alternatively redis - for large environments behind loadbalancers
      - STORAGE_STRATEGY=lru
      - BACKUP_PATH=/backup
    networks:
      - services
    restart: always

networks:
  services:
    external: true
